{% load i18n %}

<script>
var wpwlOptions = {
    style: "plain",
    locale: "{{locale}}",
    //forceCardHolderEqualsBillingName: true,
    showCVVHint: true,
    brandDetection: true,

    onError: function(error) {
        if (error.name === "InvalidCheckoutIdError") {
            // Shopper waits for 30 minutes and pays then. The checkoutId is already expired. See error.message for details
        } else if (error.name === "PciIframeSubmitError") {
            //  Error submitting card number or/and card cvv, e.g. the request run into a timeout. See error.message for details
        } else if (errror.name === "PciIframeCommunicationError") {
            // Merchant page is not able to communicate with PCI iframes. See error.message for details
        }

        console.log(error.message);
    },

    onReady: function(){
        $(".wpwl-group-cardNumber").after($(".wpwl-group-brand").detach());
        $(".wpwl-group-cvv").after( $(".wpwl-group-cardHolder").detach());

        var visa = $(".wpwl-brand:first").clone().removeAttr("class").attr("class", "wpwl-brand-card wpwl-brand-custom wpwl-brand-VISA")
        var master = $(visa).clone().removeClass("wpwl-brand-VISA").addClass("wpwl-brand-MASTER");
        $(".wpwl-brand:first").after( $(master)).after( $(visa));
        {% if use_3d_secure_2 %}
          wpwlOptions.add3dSecure2Fields();
        {% endif %}
    },

    onChangeBrand: function(e) {
        $(".wpwl-brand-custom").css("opacity", "0.3");
        $(".wpwl-brand-" + e).css("opacity", "1");
    },
    {% if use_3d_secure_2 %}
    add3dSecure2Fields: function() {
        var customerGivenName =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "First name" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="text" name="customer.givenName" value="{{ customer_givenName|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var customerSurName =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "Last name" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="text" name="customer.surname" value="{{ customer_surname|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var customerEmail =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "Email" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="email" name="customer.email" value="{{ customer_email|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var billingStreet1 =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "Street" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="text" name="billing.street1" value="{{ billing_street1|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var billingCity =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "City" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="text" name="billing.city" value="{{ billing_city|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var billingPostcode =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-label wpwl-label-custom" style="display:inline-block">{% trans "Postal code" %}</div>' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="text" name="billing.postcode" value="{{ billing_postcode|default:'' }}" required />' +
            '</div>' +
            '</div>';
        var billingCountry =
            '<div class="wpwl-group wpwl-group-expiry wpwl-clearfix">' +
            '<div class="wpwl-wrapper wpwl-wrapper-custom" style="display:inline-block">' +
            '<input class="wpwl-control" type="hidden" name="billing.country" value="{{ billing_country|default:'AT' }}" required />' +
            '</div>' +
            '</div>';

        $('form.wpwl-form-card').find('.wpwl-group-submit')
            .before(customerGivenName)
            .before(customerSurName)
            .before(customerEmail)
            .before(billingStreet1)
            .before(billingCity)
            .before(billingPostcode)
            .before(billingCountry);
    }
    {% endif %}
}
</script>

<script async src="{{ gateway_host }}paymentWidgets.js?checkoutId={{ checkout_id }}"></script>
<form action="{{ shopper_result_url }}" class="paymentWidgets" data-brands="{{ payment_method }}"></form>
